

h1{
	font-family: Times, Helvetica, Sans-Serif;
	font-size: 2.5em;
	text-align: center;
}

#header-nav {
	border-radius: 0;
}

#nav-list a{
	text-align: center;
}

.navbar-brand h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}

#box {
	background-color: #e0e0d1;
}

#box h2 {
	text-align: center;
	font-size: 1.6em;
	width: 100%;
	padding-top: 15px;
}

#box p {
	padding: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.box{
		margin: 15px;
	}
}


@media (max-width: 767px) {

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 10vw;
	}

	.box {
		margin: 15px;
	}
}





